<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row footer1">
                <div class="footer-col col-md-4">
                    <h3>Location</h3>
                    <p>Paris/IDF
                        <br>France</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Around the Web</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="https://twitter.com/" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://linkedin.com/" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>About Freelancer</h3>
                    <p><a href="download/cv.pdf" download="cv_web_developer">>> Télécharger le CV << </a></p>
                </div>

                 {% if session["auth"] == 'ROLE_ADMIN' %}
                    <div class="footer-col col-md-4">
                        <h3>Espace Admin</h3>
                        <p><a href="index.php?action=logout">Accès Administration</a></p>
                    </div>
                {% endif %}          

                
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Your Website 2021
                </div>
            </div>
        </div>
    </div>
</footer>