{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="container post">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <form id="contactForm" method="post" action="index.php?action=loginSubmitted">
                
                <h3>Login</h3>

                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Email</label>
                        <input rows="5" class="form-control" type="text" id="email" name="email" placeholder="Enter your email" name="email" required><br>
                    </div>
                </div>

                <div class="row control-group">
                  <div class="form-group col-xs-12 floating-label-form-group controls">
                      <label>Password</label>
                      <input rows="5" class="form-control" type="password" id="password" name="password" placeholder="Enter your password" name="password" required><br>
                  </div>
                </div>
                <br>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <input type="submit" class="btn btn-success btn-lg" value="Login in">
                        <a href="index.php?action=register" class="login-create-account">Create a account</a>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
</div>

{% endblock %}