{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
<!-- Portfolio Modals -->
    <div>
    {# {% for post in posts %}
        <h2>Title : {{ post.title }}</h2>
    {% endfor %}    #}
    </div>
        <div class="container post">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/cake.png" class="img-responsive img-centered" alt="">
                        <p>chapo chapo chapo chapo chapo chapo chapo chapo chapo chapo chapo chapo chapo chapo </p>
                        <ul class="list-inline item-details">
                            <li>Author:
                                <strong><a href="http://startbootstrap.com">Nom Prénom</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">April 2014</a>
                                </strong>
                            </li>
                        </ul>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Risus in hendrerit gravida rutrum quisque non tellus. Nunc faucibus a pellentesque sit amet porttitor. Mi quis hendrerit dolor magna eget est. Gravida quis blandit turpis cursus in hac habitasse platea dictumst. Nibh praesent tristique magna sit amet. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Condimentum vitae sapien pellentesque habitant morbi tristique. Tortor dignissim convallis aenean et tortor at. Elementum integer enim neque volutpat ac tincidunt vitae semper quis. Viverra mauris in aliquam sem fringilla ut morbi tincidunt augue. Odio aenean sed adipiscing diam donec adipiscing tristique risus. Vestibulum lorem sed risus ultricies tristique nulla aliquet enim. Nulla aliquet enim tortor at auctor urna nunc id cursus. Fames ac turpis egestas sed tempus urna et pharetra pharetra. Elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi. Enim neque volutpat ac tincidunt vitae semper quis. Id interdum velit laoreet id donec ultrices tincidunt arcu non.
                        </p>
                    </div>
                    <form name="sentMessage" id="contactForm" novalidate>
                    <h3>Let a comment</h3>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Comment</label>
                            <textarea rows="5" class="form-control" placeholder="Write your comment here" id="message" required data-validation-required-message="Please enter a message."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-success btn-lg">Send</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
{% endblock %}