#main  {
  margin-top: 100px;
 }
.post h2 {
  text-align: center;
}
.hello {
  color: #2C3E50; 
  line-height: 20px;
  padding-bottom: 15px; 
  padding-top: 15px; 
}
.admin-title {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.admin-tab {
  margin-top: 20px;
  margin-bottom: 50px;
}
.login-create-account {
  padding-left: 1em;
  font-size: 1.5em;
}
form label {
  top: 0em!important;
  opacity: 1!important;

}

@media (min-width: 992px){
  .footer1 {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 992px) {
  .footer1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
